<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

  <!-- Security -->
  <servlet>
    <servlet-name>CheckUserServlet</servlet-name>
    <servlet-class>com.appspot.security.CheckUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserServlet</servlet-name>
    <url-pattern>/check-user</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>CheckFederatedServlet</servlet-name>
    <servlet-class>
      com.appspot.security.CheckFederatedServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckFederatedServlet</servlet-name>
    <url-pattern>/check-federated</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckOAuthServlet</servlet-name>
    <servlet-class>
      com.appspot.security.CheckOAuthServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOAuthServlet</servlet-name>
    <url-pattern>/check-oauth</url-pattern>
  </servlet-mapping>
 	<security-constraint>
		<web-resource-collection>
			<web-resource-name>store-data-url</web-resource-name>
			<url-pattern>/store-*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
    <security-constraint>
		<web-resource-collection>
			<web-resource-name>receive-mail-url</web-resource-name>
			<url-pattern>/_ah/mail/*</url-pattern>
		</web-resource-collection>
      <auth-constraint>
        <role-name>admin</role-name>
      </auth-constraint>
    </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>tasks-url</web-resource-name>
      <url-pattern>/tasks/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>send-mail-url</web-resource-name>
      <url-pattern>/mail/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <servlet>
    <servlet-name>appstats</servlet-name>
    <servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>appstats</servlet-name>
    <url-pattern>/appstats/*</url-pattern>
  </servlet-mapping>
</web-app>
